.header-container {
  // text-align: center;
  background-color: rgb(214, 215, 215);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/header-home-mob.jpeg');
}
.logo {
  height: 1.5rem; //24px;
}
#film-icon {
  width: 24px; //1.5rem;
  height: 24px; //1.5rem;
  transition: all 250ms ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
.container-nav-logo {
  display: flex;
  align-items: baseline;
  // padding-right: 1.25rem; //20px;
  margin-bottom: 2.563rem; //41px;
}
.nav-title {
  visibility: hidden;
}
.nav-bar {
  margin-left: auto;
}
ul {
  display: flex;
  gap: 39px;
}
li {
  transition: all 250ms ease-in-out;
  &:hover,
  &:focus {
    color: var(--hovered-color);
    // transform: scale(1.2);
  }
}
.nav-list-link {
  position: relative;
  color: var(--primary-font);
  width: 100%;
  &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--hovered-color);
    left: 0;
    bottom: -1;
    opacity: 0;
    transition: all 250ms ease-in-out;
    scale: 1;
    pointer-events: none;
  }
  /*  &:hover,
  &:focus,
  &:active {
    color: var(--hovered-color);
    opacity: 1;
  } */
  &:hover::after,
  &:focus::after,
  &:active::after {
    opacity: 1;
    transition: all 250ms linear;
    transform: translateY(100%);
  }
}
.nav-title text {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}
form {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  // padding: 0 1.25rem; //0 20px;
  /*   width: 100%;
  outline: none; */
}
input {
  position: relative;
  // display: flex;
  // height: 100%;
  width: 100%;
  padding: 4px;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.063rem solid var(--primary-font); //1px
  transition: box-shadow 250ms ease-in-out;
  // border: 0 0 1px solid var(--primary-font);
  outline: none;
  color: var(--hovered-color);
  column-gap: 4px;
  &:hover,
  &:focus,
  &:active {
    border-bottom: 1px solid var(--hovered-color);
    // box-shadow: 0 0 11px rgba(237, 235, 235, 0.2);
    cursor: pointer;
    opacity: 1;
  }
}
button {
  position: absolute;
  display: flex;
  align-items: center;
  outline: none;
  border: 0;
  right: 0;
  background: transparent;
  // transition: box-shadow 250ms ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
#search-icon {
  display: flex;
  width: 12px; // 0.75rem;
  height: 12px; //0.75rem;
  // transition: box-shadow 250ms ease-in-out;
  &:hover,
  &:focus,
  &:active {
    color: var(--orange);
  }
}

//* TABLET VIEW */
@media screen and (min-width: 768px) {
  .nav-title {
    // color: #FFF;
    font-family: Roboto;
    font-size: 1.875rem; //30px;
  }
}
/* DESKTOP VIEW */
@media screen and (min-width: 1024px) {
}
